/* Setting box-sizing: border-box means padding and border are included in 
   the width and height, applying this to all elements is safe and wise */
   * {
    box-sizing: border-box;
  }

  /* Colour palette 
     -------------- */
  :root {
    /* Base colours */
    --colour-base-green: #B7DF97;
    /*#8A9A5B;*/
    /*96e072;*/
    --colour-dark-blue: #42495C;
    --colour-pitch-black: #000000;
    --colour-medium-grey: #AAAAAA;
    --colour-light-grey: #DDDDDD;
    --colour-lighter-grey: #EEEEEE;
    --colour-bright-white: #FFFFFF;
    /* Graphics and images */
    --colour-palette-1blue: #4477AA;
    --colour-palette-2green: #228833;
    --colour-palette-3yellow: #877622;
    --colour-palette-4red: #C44F63;
    --colour-palette-5purple: #AA3377;
    /* Quiz */
    --colour-quiz-correct: #2B6C28;
    --colour-quiz-notquite: #98D18B;
    --colour-quiz-wrong: #C70000;
  }
  
  /* Load fonts locally
     ------------------ */
  @font-face { 
    font-family:'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    src:
      url('../fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format("woff2"),
      url('../fonts/Atkinson-Hyperlegible-Regular-102.woff') format("woff"),
      url('../fonts/Atkinson-Hyperlegible-Regular-102.otf') format("opentype"),
      url('../fonts/Atkinson-Hyperlegible-Regular-102.ttf') format("truetype");
  }

  @font-face { 
    font-family:'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    src: 
      url('../fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format("woff2"),
      url('../fonts/Atkinson-Hyperlegible-Bold-102.woff') format("woff"),
      url('../fonts/Atkinson-Hyperlegible-Bold-102.otf') format("opentype"),
      url('../fonts/Atkinson-Hyperlegible-Bold-102.ttf') format("truetype");
  }

  @font-face { 
    font-family:'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 400;
    src: 
      url('../fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format("woff2"),
      url('../fonts/Atkinson-Hyperlegible-Italic-102.woff') format("woff"),
      url('../fonts/Atkinson-Hyperlegible-Italic-102.otf') format("opentype"),
      url('../fonts/Atkinson-Hyperlegible-Italic-102.ttf') format("truetype");
  }
  
  @font-face { 
    font-family:'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 700;
    src: 
      url('../fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format("woff2"),
      url('../fonts/Atkinson-Hyperlegible-BoldItalic-102.woff') format("woff"),
      url('../fonts/Atkinson-Hyperlegible-BoldItalic-102.otf') format("opentype"),
      url('../fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf') format("truetype");
  }

  /* Resets
     ------	*/
  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
    font-family: 'Atkinson Hyperlegible', Verdana, Georgia, Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
  }
  
  article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
    display: block;
  }

  a img {
    border: 0;
  }
  
  /* Typography presets - Golden ratio typographic scale
     ---------------------------------------------------	*/
  .huge, h1 {
    font-size: 2.618em;
    line-height: 60px;
    letter-spacing: -1px;
  }
  
  .large, h2 {
    font-size: 2.0582em;
    line-height: 175%;
    letter-spacing: -1px;
  }
  
  .bigger, h3 {
    font-size: 1.618em;
    line-height: 175%;
    font-weight: bold;
  }
  
  .big, h4 {
    font-size: 1.272em;
    line-height: 150%;
    font-weight: bold;
  }
  
  p { 
    font-size: 1em; 
    line-height: 175%;
    max-width: 75ch;
  }

  .small, small {
    font-size: .7862em;
    line-height: 18px;
  }
  
  li {
    line-height: 150%;
  }

  .home-page-paragraph { 
    font-size: 1em; 
    line-height: 175%;
    padding: 1em;
  }

  /* Responsive layout breakpoints
     ----------------------------- */
  
  /* When the screen is less than 801px (tablet) wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 801px) {
    .row {   
      flex-direction: column;
    }

    /* Hide the logo at small screen sizes */
    .intro-img {
      display:none;
    }
  }
  
  /* When the screen is less than 480px (smartphone) wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 480px) {
    .navbar a {
      float: none;
      width:100%;
    }

    /* Responsive table styling - smartphone size */
    table {
      border: 1px solid var(--colour-pitch-black);
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      display: block;
    }
    
    table td {
      display: block;
      text-align: left;
      font-size: 1em; 
      line-height: 175%;
    }
    
    table td::before {
      /* aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label); */
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  }
  
  /* Page sections 
     ------------- */
  
  /* Style the header */
  .header {
    padding: 20px;
    text-align: center;
    color: var(--colour-pitch-black);
    background-color: var(--colour-base-green);
    /* To change the network nodes, find+replace 228833 (colour-base-green) */
    /* SVG credit to SVGBackgrounds.com https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/ */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23228833' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23228833'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: round;
  }

  /* Show a logo to the right of the introductory paragraph */
  #intro-container {
    display: flex;
    align-items: center;
    background-color:var(--colour-lighter-grey); 
    padding: 2em; 
    border:2px solid var(--colour-dark-blue);
    border-top: 0;
  }

  #intro-container p {
    margin-right: 2em;
  }

  /* Style the footer */
  footer {
    position: fixed;
    bottom: 0; 
    left: 0; 
    right: 0;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: var(--colour-dark-blue);
    color: var(--colour-bright-white);
  }

  /* Footer link should be white and never show as visited */
  .footer-link, .footer-link:visited, .footer-link:active {
    color: var(--colour-bright-white);
    text-decoration: underline;
    font-size: small;
  }

  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: var(--colour-dark-blue);
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: var(--colour-bright-white);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  /* Style the right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change the colour on hover */
  .navbar a:hover {
    background-color: var(--colour-base-green);
    color: var(--colour-pitch-black);
  }

  /* Style the column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* For lessons, create two unequal columns that sits next to each other */
  /* Sidebar/left column... */
  .side {
    flex: 15%;
    top: 0;
    left: 0;
    bottom: 0;  /* Stretch from top to bottom in tandem with main section */
    padding: calc(8px + 1.5625vw); /* https://matthewjamestaylor.com/responsive-padding */
    padding-right: 1px;
    background-color: var(--colour-light-grey);
    color: var(--colour-light-grey);
    overflow: hidden;
  }

  /* ...and a main column */
  .main {   
    flex: 85%;
    background-color: var(--colour-bright-white);
    padding: calc(8px + 1.5625vw); /* https://matthewjamestaylor.com/responsive-padding */
  }

  /* Withing the main column, there should be room to breath on the left and right */
  .main-insert {   
    max-width: 75ch;
    margin: 0 auto;
  }

  /* Test */
  .uneven-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .uneven-grow-item {
    flex-grow: 1;
    padding: 10px;
    margin: 5px;
    border: 1px solid black; /* Remove this */
  }

  .uneven-item1 {
    padding: 5px;
    margin: 5px;
    border: 2px solid var(--colour-pitch-black);
    border-radius: 0px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    background-color: var(--colour-palette-1blue);
    display: flex; 
    align-items: center;
  }

  .uneven-item2 {
    padding: 5px;
    margin: 5px;
    border: 2px solid var(--colour-pitch-black);
    border-radius: 0px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    background-color: var(--colour-palette-2green);
    display: flex; 
    align-items: center;
  }

  .uneven-item3 {
    padding: 5px;
    margin: 5px;
    border: 2px solid var(--colour-pitch-black);
    border-radius: 0px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    background-color: var(--colour-palette-3yellow);
    display: flex; 
    align-items: center;
  }

  .uneven-item4 {
    padding: 5px;
    margin: 5px;
    border: 2px solid var(--colour-pitch-black);
    border-radius: 0px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    background-color: var(--colour-palette-4red);
    display: flex; 
    align-items: center;
  }

  .uneven-item5 {
    padding: 5px;
    margin: 5px;
    border: 2px solid var(--colour-pitch-black);
    border-radius: 0px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    background-color: var(--colour-palette-5purple);
    display: flex; 
    align-items: center;
  }

  .uneven-item6 {
    padding: 5px;
    margin: 5px;
    border: 2px solid var(--colour-pitch-black);
    border-radius: 0px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    background-color: var(--colour-palette-1blue);
    display: flex; 
    align-items: center;
  }

  /* Links on the side navigation are special - they don't have decoration and follow the colour palette */
  .special-link, .special-link:visited, .special-link:active {
    color: var(--colour-dark-blue);
    text-decoration: none;
    font-weight: bold;
  }

  .special-link:hover {
    color: var(--colour-quiz-correct);
  }

  /* For units, create two equal columns that sit next to each other */
  .home-splitscreen {
    flex: 50%;
    border: 10px solid var(--colour-bright-white);
    margin-bottom: -100px; /* any large number will do */
    padding-bottom: 100px; 
  }

  /* Page elements
     ------------- */

  /* Button styling */
  a.button {
    background-color: var(--colour-dark-blue);
    border: 2px solid var(--colour-pitch-black);
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    color: var(--colour-bright-white);
    padding: 20px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    width: 100%;
  }
  
  a.button:hover {
    background-color: var(--colour-base-green);
    color: var(--colour-pitch-black);
  }

  /* Table styling - desktop sizes */
  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    border: 2px solid var(--colour-pitch-black);
    background-color: var(--colour-light-grey);
    color: var(--colour-pitch-black);
    border-radius: 0px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    padding: 10px 10px;
    display: block; /* Otherwise can't center the element */
    margin: 10px auto; /* top and bottom | left and right */
  }
  
  table tr {
    background-color: var(--colour-lighter-grey); 
    border: 1px solid var(--colour-light-grey); 
    padding: .35em;
  }

  tr:nth-child(even) {background: var(--colour-bright-white);}
  tr:nth-child(odd) {background: var(--colour-lighter-grey);}

  table th {
    background-color: var(--colour-base-green);
    padding: 0.25rem;
    text-align: left;
    border: 2px solid var(--colour-pitch-black);
  }

  table td {
    padding: 0.25rem;
    text-align: left;
    border: 2px solid var(--colour-pitch-black);
  }

  /* Pages have backwards and forwards navigation buttons in a grid */
  .grid-container-two {
    margin-top: 30px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30%;
  }

  /* Quiz pages have a third button to reset the questions */
  .grid-container-three {
    margin-top: 30px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10%;
  }

  /* Underline the current section in the navbar */
  .highlightCurrentTab {
    border-bottom: 2px solid var(--colour-bright-white);
  }

  .highlightCurrentTab:hover {
    border-bottom: 2px solid var(--colour-pitch-black);
  }
  
  /* Format SVG icons */
  .svg-icon {
    display: block; /* To centre */
    margin: auto; /* To centre */
    margin-top: 20px; /* Breathing room on top */
  }

  /* Key point text box */
  .text-container {
    border: 2px solid var(--colour-pitch-black);
    background-color: var(--colour-base-green);
    border-radius: 0px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    width: 75%;
    padding: 10px 10px;
    margin: 30px 0;
    margin-left: auto;
    margin-right: auto;
  }

  .text-item {
    color: var(--colour-pitch-black);
    padding: 5px;
    margin-bottom: 0.5em;
  }

  .text-item-rounded {
    text-align:center;
    width: fit-content;
    border: 2px solid var(--colour-pitch-black);
    background-color: var(--colour-lighter-grey);
    color: var(--colour-pitch-black);
    border-radius: 30px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    padding: 10px 10px;
    margin: 30px 0;
  }

  /* Txt box with no background svg */
  .regular-container {
    border: 2px solid var(--colour-pitch-black);
    background-color: var(--colour-base-green);
    border-radius: 0px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    padding: 10px 10px;
    margin: 30px 0;
  }
  
  /* Attention quote text box */
  .attention-container {
    border: 2px solid var(--colour-pitch-black);
    background-color: var(--colour-base-green);
    /* To change the network nodes, find+replace 228833 (colour-base-green) */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23228833' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23228833'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: round;
    border-radius: 0px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    padding: 1em 1em;
    margin: 1.5em 0;
  }

  .attention-item {
    width: fit-content;
    color: var(--colour-pitch-black);
    padding: 5px;
    margin-bottom: 0.5em;
  }

  /* Overlapping block template - important override to left align the container */
  .overlap-container {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 59em;
    height: 41em;
    overflow: scroll;
    border: 2px solid var(--colour-pitch-black);
    background-color: var(--colour-lighter-grey);
    border-radius: 0px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
  } 

  .block { 
    position: absolute; 
    width: 23em; 
    height: 16em; 
    padding: 1em 2em; 
    background-color: var(--colour-palette-1blue);
    color: var(--colour-bright-white);
    border: 2px solid var(--colour-pitch-black);
    border-radius: 0px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    transition: transform 0.3s ease-in-out; 
  } 
  
  .block:hover { 
    transform: translateX(20px) translateY(-20px); 
    z-index: 1; 
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    height: 280px; 
  } 
  
  .block:nth-child(2) { 
    background-color: var(--colour-palette-2green);
  } 
  
  .block:nth-child(3) { 
    background-color: var(--colour-palette-3yellow);
  } 
  
  .block:nth-child(4) { 
    background-color: var(--colour-palette-4red);
  } 
  
  .block:nth-child(5) { 
    background-color: var(--colour-palette-5purple);
  } 
  
  .block-content { 
    margin-top: 10px; 
  }

  /* Block template, as above but only two boxes - important override to left align the container */
  .overlap-container-truefalse {
    position: relative;
    display: block; /* Otherwise can't center the element */
    margin: 10px auto; /* top and bottom | left and right */
    max-width: 53em;
    height: 15em;
    overflow: scroll;
    border: 2px solid var(--colour-pitch-black);
    background-color: var(--colour-lighter-grey);
    border-radius: 0px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
  } 

  .block-truefalse { 
    position: absolute; 
    width: 22em; 
    height: 11em; 
    padding: 1em 2em; 
    background-color: var(--colour-quiz-wrong);
    color: var(--colour-bright-white);
    border: 2px solid var(--colour-pitch-black);
    border-radius: 0px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
  } 

  /* LHS - in front */
  .block-truefalse:nth-child(2) {
    background-color: var(--colour-palette-1blue);
  }

  .block-truefalse:nth-child(2):hover {
    opacity: 0;
  }

  /* RHS - behind */
  .block-truefalse:nth-child(3) { 
    background-color: var(--colour-quiz-correct);
  }
   
  /* RHS - in front */
  .block-truefalse:nth-child(4) {
    background-color: var(--colour-palette-1blue);
  }

  .block-truefalse:nth-child(4):hover {
    opacity: 0;
  }

  .block-content-truefalse { 
    margin-top: 10px; 
  }

  /* Regular rectangle template */
  .rectangular-container {
    position: relative;
    display: block; /* Otherwise can't center the element */
    margin: 10px auto; /* top and bottom | left and right */
    max-width: 50em;
    height: 42em;
    overflow: scroll;
    border: 2px solid var(--colour-pitch-black);
    background-color: var(--colour-lighter-grey);
    border-radius: 0px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
  } 

  .rectangular-block { 
    position: absolute; 
    width: 500px; 
    height: 275px; 
    padding: 20px 30px; 
    background-color: var(--colour-palette-1blue);
    color: var(--colour-bright-white);
    border: 2px solid var(--colour-pitch-black);
    border-radius: 0px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    transition: transform 0.3s ease-in-out; 
  } 
  
  .rectangular-block:hover { 
    transform: translateX(10px) translateY(-10px); 
    z-index: 1; 
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    height: 310px; 
  }

  /* Flipping cards */
  .flip-card {
    display: block; /* Otherwise can't center the element */
    margin: 10px auto; /* top and bottom | left and right */
    width: 100%;
    height: 18em;
    overflow: hidden;
    border: 2px solid var(--colour-pitch-black);
    background-color: var(--colour-lighter-grey);
    border-radius: 0px;
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    perspective: 1000px;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }
  
  .flip-card:focus {
      outline: 0;
  }
  
  .flip-card:hover .flip-card-inner,
  .flip-card:focus .flip-card-inner{
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }
  
  .flip-card-front {
    background: var(--colour-palette-2green);
    color: var(--colour-bright-white);
    z-index: 2;
    display: grid;
    place-items: center;
  }
  
  .flip-card-back {
    background: var(--colour-palette-4red);
    color: var(--colour-bright-white);
    transform: rotateY(180deg);
    z-index: 1;
    display: grid;
    place-items: center;
  }

  /* Video settings */
  #video-container1 video {
    background-color: var(--colour-lighter-grey);
    border: 2px solid var(--colour-pitch-black);
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black); 
    display: block; 
    margin: 10px auto; 
    object-fit: scale-down;
    width: 100%;
    height: 100%;
  }

  #video-container2 video {
    background-color: var(--colour-lighter-grey);
    border: 2px solid var(--colour-pitch-black);
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black); 
    display: block; 
    margin: 10px auto; 
    object-fit: scale-down;
    width: 100%;
    height: 100%;
  }

  /* Quiz settings */
  fieldset {
    border: 0;
    margin: 2rem 0;
  }
  
  fieldset legend {
    font-weight: 700;
  }

  .answer__item {
    background-color: var(--colour-lighter-grey);
    display: block;
    position: relative;
    cursor: pointer;
    padding: 0.75rem 1.25rem;
    margin: 0.25rem 0;
  }
  
  /* Hide Radio Buttons and Submit Button */
  input[type="radio"], button {
    display: none;
  }
  
  /* Any missed correct answer on any answered question, highlight in light green */
  :valid .answer__item--is-correct { background-color: var(--colour-quiz-notquite); }
  
  /* Show any extra explanatory text */
  .answer__reveal-text { display: none; }
  :valid .answer__reveal-text { display: block }
  
  /* Any chosen answer, highlight in red */
  :checked + .answer__item { color: var(--colour-bright-white); background-color: var(--colour-quiz-wrong); }
  
  /* Any correctly chosen answer, highlight in bright green 
  :checked + .answer__item--is-correct { background-color: var(--colour-quiz-correct); }
  
  /* Show the icon for the selected answer */
  :checked + .answer__item .answer__icon { display: inline-block }
  
  /* prevent chosing another answer once chosen */
  :valid { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none }
  :valid + .answer__item { pointer-events: none }
  
  /* keep track of score */
  form { counter-reset: quiz-score }
  :checked + .answer__item--is-correct { background-color: var(--colour-quiz-correct); counter-increment: quiz-score }
  .score:after { content: counter(quiz-score) "/" attr(data-question-count) }
  
  /* show score once quiz has been completed */
  .message { 
    display: none; 
    width: 10em;
    height: 10em;
    line-height: 5em;
    border-radius: 50%;
    padding-top: 4em;
    padding-left: 1.3em;
    font-size: 1.272em;
    margin-left: auto;
    margin-right: auto; 
    color: var(--colour-pitch-black);
    background: var(--colour-light-grey);
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    border: 2px solid var(--colour-pitch-black);
  }

  form:valid .message { display: block }

  /* Carousel settings */
  .carousel {
    position: relative;
    border: 2px solid var(--colour-pitch-black);
    box-shadow: 4px 4px 0 1px var(--colour-pitch-black);
    height: auto;
    margin: auto;
    width: fit-content;
  }

  .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
  }

  .carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
  }

  .carousel-item img {
    display: block;
    height: auto;
    margin: auto;
    max-width: 100%;
  }

  .carousel-control {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0%;
    color: var(--colour-bright-white);
    display: none;
    font-size: 1.5em;
    height: 2em;
    width: 2em;
    line-height: 2em;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    z-index: 10;
  }

  .carousel-control.prev {
    left: 2%;
  }

  .carousel-control.next {
    right: 2%;
  }

  .carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: var(--colour-bright-white);
  }

  #carousel-1:checked ~ .control-1,
  #carousel-2:checked ~ .control-2,
  #carousel-3:checked ~ .control-3,
  #carousel-4:checked ~ .control-4,
  #carousel-5:checked ~ .control-5,
  #carousel-6:checked ~ .control-6 {
    display: block;
  }

  .carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
  }

  .carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
  }

  .carousel-bullet {
    color: var(--colour-medium-grey);
    cursor: pointer;
    display: block;
    font-size: 35px;
  }

  .carousel-bullet:hover {
    color: var(--colour-quiz-correct);
  }

  #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
  #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
  #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
  #carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
  #carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
  #carousel-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet {
    color: var(--colour-quiz-correct);
  }

  #title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
  }
